/**************/
/* Custom CSS */
/**************/

body {
    background-color: black;
}

#input{
    width: 100px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;  
     height:200px;
    font-size:14pt;
}

#player{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30%;
    left: 30%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}